<a href="https://colab.research.google.com/github/BleonM/data-science-bootcamp/blob/main/module1_1c_Lists_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

## Creating lists

Create a list of numbers with at least 10 numbers and give it a good name

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]

Create a list of mixed types (integers, floats, strings, lists, etc.)and give it a good name

In [ ]:
mixed = [1,1.5,'Bleon',[1,2,3],2.3,'Blecki',100,101,102]

## Indexing and Slicing

Access the second item in your mixed types list

In [ ]:
print(mixed[1])

Access the 4th-7th items in your list of numbers

In [ ]:
print(mixed[3:7:])

Access the last 4 items in your mixed types list

In [ ]:
print(mixed[-4:])

## Exploring

In [ ]:
# @title Python list methods ( from W3Schools )
import pandas as pd

pd.read_html( "https://www.w3schools.com/python/python_ref_list.asp" )[0].style.hide(axis='index')

Find some list methods that we have not covered in class and try a few out.  You can use the built-in help features to learn what they do.  For more information, you can explore the on-line [documentation]( https://docs.python.org/3.11/library/stdtypes.html#sequence-types-list-tuple-range )

In [ ]:
# list method on numbers list
print(len(mixed))

In [ ]:
# list method on mixed type list
print(type(mixed))