<a href="https://colab.research.google.com/github/BleonM/data-science-bootcamp/blob/main/module1_1b_Intro_Python_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python

## Getting started
- Save this notebook to your Google Drive
- Move it to your Exercises folder for the current module
- Some code cells have a little bit to get you started

## Numbers

Pick your own numbers to perform the following operations:

- addition

In [ ]:
2+2

- subtraction

In [ ]:
4-1

- multiplication

In [ ]:
3*3

- division

In [ ]:
3/3

- exponentiation

In [ ]:
3**2

- modulation

In [ ]:
4%2

## Numbers in variables

Pick two numbers (one integer and one float) and assign them to the variables `first_number` and `second_number`.

In [ ]:
first_number = 10
second_number = 2.5

Make a variable called `product` that is the product of your two variables from above.

In [ ]:
product = first_number * second_number

## Strings in variables

Come up with your own fun sentence to use a string and assign it to a variable name.  (Make sure to pick a variable name that follows the naming conventions.)

In [ ]:
Word = 'This is a string'

## Printing

Make print statements for each of your variables

- first_number

In [ ]:
print(first_number)

- second_number

In [ ]:
print(second_number)

- product

In [ ]:
print(product)

- your string

In [ ]:
print(Word)

## Displaying types

Print the type of each of your variables

- first_number

In [ ]:
print(type(first_number))

- second_number

In [ ]:
print(type(second_number))

- product

In [ ]:
print(type(product))

- your string

In [ ]:
print(type(Word))

## Exploring

In [ ]:
# @title Python string methods ( from W3Schools )
import pandas as pd

pd.read_html( "https://www.w3schools.com/python/python_ref_string.asp" )[0].style.hide(axis='index')

Find a string method that we did not go over in class to use on your string. You can find a list of string methods by checking the [documentation]( https://docs.python.org/3.10/library/stdtypes.html#string-methods ).

In [ ]:
print(capitalize(Word))